.card {
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.card__image {
    height: 413px;
    width: 100%;
    margin: 0 0 12px;
    border-radius: 8px;
    padding: 0;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.card__name {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 353px;
}

.card__icon {
    width: 23px;
    height: 20px;
    opacity: 40%;
    align-self: flex-end;
    padding: 0;
    background-image: url(../images/Union.svg);
    background-color: transparent;
    border: 2px hidden;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease;
}

.card__icon:hover {
    opacity: 100%;
    cursor: pointer;
}

.card__icon_active {
    background-image: url(../images/like-btn-active.svg);
    opacity: 100%;
}

.card__icon_active:hover {
    opacity: 50%;
}

.card__delete-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/delete-icon.svg);
    background-color: transparent;
    border: none;
    right: 10px;
    top: 10px;
}

.card__delete-icon:hover {
    background-image: url(../images/delete-icon-hover.svg);
    cursor: pointer;
}

@media screen and (max-width: 668px) {
    .card {
        width: 288px;
    }

    .card__image {
        height: 288px;
    }

    .card__name {
        max-width: 260px;
        font-size: 16px;
        line-height: 16px;
    }

    .card__icon {
        width: 20px;
        height: 18px;
    }
}