.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 413px);
    grid-template-rows: repeat(2, auto);
    row-gap: 40px;
    column-gap: 20px;
    padding: 20px 0 40px;
    border-bottom: 1px solid rgba(33, 33 , 33, 0.4);
    justify-content: center;
}

@media screen and (max-width: 668px) {
    .cards {
        grid-template-columns: repeat(auto-fit, 288px);
        row-gap: 0;
        gap: 20px;
        padding-bottom: 20px;
    }
}
