.modal {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
visibility: hidden;
opacity: 0;
padding: 0 20px;
transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0.3s;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0s;
}   

.modal__container {
    background-color: white;
    padding: 32px 50px;
    max-width: 730px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url(../images/close-btn.svg);
    cursor: pointer;
    opacity: 40%;
}

.modal__close-btn:hover {
    opacity: 100%;
}

.modal__title {
margin: 0 0 32px;
font-weight: 500;
font-size: 32px;
line-height: 1;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
}


.modal__input {
    padding: 16px 12px;
    border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
}

.modal__input:hover {
    border: 1.5px solid rgba(0, 0, 0, 1);
}

.modal__submit-btn {
    width: 156px;
    padding: 18px 0;
    border-radius: 8px;
    border: none;
    background-color: #212121;
    color:#FCF5E5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.modal__preview{
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
visibility: hidden;
display: flex;
align-items: center;
justify-content: center;
transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0.3s;
opacity: 0;
}

.modal__preview_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0s 0s;
}

.modal__preview-container {
position: relative;
margin: 0;
padding: 0;

}

.modal__preview-exit-btn {
    position: absolute;
    background-image: url(../images/preview-close-btn.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
    right: -53px;
    top: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.modal__preview-img {
margin: 0;
border-radius: 8px;
max-width: 80vw;
max-height: 80vh;
}

.modal__preview-caption {
background-color: rgba(0, 0, 0, 0.7);
color: white;
padding: 4px 8px;
font-size: 20px;
font-weight: 400;
border-radius: 8px;
line-height: 1.2;
width: auto;
margin: 0;
display: inline;
position: absolute;
left: 0;
bottom: -36px;
}

@media  screen and (max-width: 668px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__title {
        margin: 10px 0 34px;
        font-size: 20px;
    }

    .modal__close-btn {
        top: 12px;
        right: 12px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__input {
        font-size: 16px;
    }

    .modal__submit-btn {
        width: 100%;
    }

    .modal__preview-exit-btn {
        right: 0;
        top: -44px;
    }
}